<div class="relative container large-row section-{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="wifi-image-text">
  {% style %}
    .section-{{ section.id }} .image-with-text {
      background-color: {{ section.settings.color_bg }};
      color: {{ section.settings.color_text }};
    }

    .section-{{ section.id }} .image-with-text__image-size {
      padding: {{ section.settings.image_size }}px;
    }

    {% if section.settings.image_size == '120' %}
      @media screen and (max-width: 1000px) and (min-width: 768px) {
        .section-{{ section.id }} .image-with-text__image-size {
          padding: {{ section.settings.image_size | divided_by: 2 }}px;
        }
      }
      @media screen and (max-width: 580px) {
        .section-{{ section.id }} .image-with-text__image-size {
          padding: {{ section.settings.image_size | divided_by: 2 }}px;
        }
      }
    {% endif %}
  
  .section-{{ section.id }} .btn--primary{
  		background:#8D198F;
        border-color:#8D198F;
        box-shadow:0 0 0 1px #8D198F;
  		border-bottom-right-radius:0px !important;
    }
  
  
  {% endstyle %}

  <div class="wifi-img-text-section page-width image-with-text flex global-border-radius {% if section.settings.image_position == 'right' %} image-with-text--reverse{% endif %} {% if section.settings.image_size == '0' %} image-with-text--full{% endif %}">

    <div class="hide_desk title_container">
        {% if section.settings.sub-title != blank %}<div class="wifi-IT-sub-title">{{section.settings.sub-title}}</div>{% endif %}
        <h2 class="image-with-text__title {% if section.settings.enlarge_title %} giant-title{% else %} large-title{% endif %}">{{ section.settings.title }}</h2>        
    </div>
    
    <div class="one-half small-down--one-whole relative image-with-text__image">
      <div class="image-with-text__image-size {% unless section.settings.image_size == '0' %}image-with-text__mobile-radius{% endunless %}">
        {% if section.settings.image_link != blank %}<a href="{{ section.settings.image_link }}">{% endif %}
        {% if section.settings.image == blank %}
          {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
        {% else %}
          {% render 'wifi-responsive-image', image: section.settings.image, nomax: true %}
        {% endif %}
        {% if section.settings.image_link != blank %}</a>{% endif %}
      </div>
    </div>

    <div class="one-half small-down--one-whole relative image-with-text__content">
      <div class="{%- if section.settings.text_alignment == 'center' -%}center{%- endif -%}">
        <div class="hide_mobile">
          {% if section.settings.sub-title != blank %}<div class="wifi-IT-sub-title">{{section.settings.sub-title}}</div>{% endif %}
          <h2 class="image-with-text__title {% if section.settings.enlarge_title %} giant-title{% else %} large-title{% endif %}">{{ section.settings.title }}</h2>          
        </div>
        {% if section.settings.text %}
            <div class="image-with-text__text {% if section.settings.enlarge_text %}large-text{% endif %}">{{ section.settings.text }}</div>
        {% endif %}

        {% if section.settings.button_label != blank %}
          {%- assign inherit_colour = false -%}
          {%- if section.settings.url_style == 'link_style' -%}
            {%- assign alpha = section.settings.color_bg | color_extract: 'alpha' -%}
            {%- if alpha > 0 and section.settings.color_bg != settings.color_body_background -%}
              {%- assign inherit_colour = true -%}
            {%- endif -%}
          {%- endif -%}
        
        	
        
        <div class="rev_accordion_container">
                      {%- if section.settings.accordion-title-1 != blank -%}
          			  <a href="{{section.settings.accordion-content-1}}"><div class="rev_accordion">{{section.settings.accordion-title-1}}</div></a>
                      <div class="rev_panel">
                        <p>{{section.settings.accordion-content-1}}</p>  
                      </div>
                      {%- endif -%}
                      
                      {%- if section.settings.accordion-title-2 != blank -%}
                      <a href="{{section.settings.accordion-content-2}}"><div class="rev_accordion">{{section.settings.accordion-title-2}}</div></a>
                      <div class="rev_panel">
                        <p>{{section.settings.accordion-content-2}}</p>  
                      </div>
                      {%- endif -%}
                      
                      {%- if section.settings.accordion-title-3 != blank -%}
                      <a href="{{section.settings.accordion-content-3}}"><div class="rev_accordion">{{section.settings.accordion-title-3}}</div></a>
                      <div class="rev_panel">
                        <p>{{section.settings.accordion-content-3}}</p>  
                      </div>
                      {%- endif -%}
                      
                      {%- if section.settings.accordion-title-4 != blank -%}
                      <a href="{{section.settings.accordion-content-4}}"><div class="rev_accordion">{{section.settings.accordion-title-4}}</div></a>
                      <div class="rev_panel">
                        <p>{{section.settings.accordion-content-4}}</p>  
                      </div>
                      {%- endif -%}
                      
                      {%- if section.settings.accordion-title-5 != blank -%}
                      <a href="{{section.settings.accordion-content-5}}"><div class="rev_accordion">{{section.settings.accordion-title-5}}</div></a>
                      <div class="rev_panel">
                        <p>{{section.settings.accordion-content-5}}</p>  
                      </div>
                      {%- endif -%}
                    </div>
        
        

          <a class="image-with-text__link {% if section.settings.url_style == 'button_1' %}btn btn--small btn--primary{% elsif section.settings.url_style == 'button_2' %}btn btn--small btn--secondary{% else %}standard-link {% if inherit_colour %}standard-link--inherit-color{% endif %}{% endif %}" href="{{ section.settings.button_link }}">
            {{ section.settings.button_label }}
          </a>
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Wifi image text",
    "tag": "section",
    "class": "section-wifi-image-text",
    "settings": [
      {
        "type": "header",
        "content": "Image"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "url",
        "id": "image_link",
        "label": "Link"
      },
      {
        "type": "select",
        "id": "image_size",
        "label": "Size",
        "options": [
          { "value": "120", "label": "Small" },
          { "value": "60", "label": "Medium" },
          { "value": "30", "label": "Large" },
          { "value": "0", "label": "Full" }
        ],
        "default": "0",
        "info": "Images will not be stretched or cropped."
      },
      {
        "type": "radio",
        "id": "image_position",
        "label": "Alignment",
        "options": [
          { "value": "left", "label": "Left" },
          { "value": "right", "label": "Right" }
        ]
      },
      {
        "type": "header",
        "content": "Text"
      },
      {
        "type": "text",
        "id": "sub-title",
        "label": "Sub Heading"

      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Image with text"

      },
      {
        "type": "richtext",
        "id": "text",
        "label": "Text",
        "default": "<p>Advertise a sale! Or tell your shoppers something about yourself.<\/p>"
      },
      {
        "type": "text",
        "id": "button_label",
        "label": "Button",
        "default": "Optional button"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "Button link"
      },
      {
        "type": "radio",
        "id": "url_style",
        "label": "Button style",
        "options": [
          { "value": "button_1", "label": "Button - primary" },
          { "value": "button_2", "label": "Button - secondary" },
          { "value": "link_style", "label": "Link"}
        ],
        "default": "button_1"
      },
      {
        "type": "checkbox",
        "id": "enlarge_title",
        "label": "Enlarge heading",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "enlarge_text",
        "label": "Enlarge text",
        "default": false
      },
      {
        "type": "radio",
        "id": "text_alignment",
        "label": "Text alignment",
        "options": [
          { "value": "center", "label": "Center" },
          { "value": "left", "label": "Left" }
        ]
      },
      {
        "type": "color",
        "id": "color_bg",
        "label": "Background color",
        "default": "#dae4e6"
      },
      {
        "type": "color",
        "id": "color_text",
        "label": "Text color",
        "default": "#333333"
      },
      {
        "type": "header",
        "content": "Accordion Box"
      },
      {
          	"type": "text",
          	"id": "accordion-title-1",
          	"label": "Accordion Title (1)"
          },
		  {
          	"type": "url",
          	"id": "accordion-content-1",
          	"label": "Accordion URL (1)"
          },
		  {
          	"type": "text",
          	"id": "accordion-title-2",
          	"label": "Accordion Title (2)"
          },
		  {
          	"type": "url",
          	"id": "accordion-content-2",
          	"label": "Accordion URL (2)"
          },
		  {
          	"type": "text",
          	"id": "accordion-title-3",
          	"label": "Accordion Title (3)"
          },
		  {
          	"type": "url",
          	"id": "accordion-content-3",
          	"label": "Accordion URL (3)"
          },
		  {
          	"type": "text",
          	"id": "accordion-title-4",
          	"label": "Accordion Title (4)"
          },
		  {
          	"type": "url",
          	"id": "accordion-content-4",
          	"label": "Accordion URL (4)"
          },
		  {
          	"type": "text",
          	"id": "accordion-title-5",
          	"label": "Accordion Title (5)"
          },
		  {
          	"type": "url",
          	"id": "accordion-content-5",
          	"label": "Accordion URL (5)"
          }
    ],
    "presets": [
      {
        "name": "Wifi image text"
      }
    ]
  }
{% endschema %}